<html xmlns:th="http://www.w3.org/1999/xhtml">
<p> Вы вошли </p>
<p th:text="${user.username}"></p><br>
<p>Изображнеие</p>
<p>Статус</p>
<p>О себе</p>
<a th:href="@{/user_detail/form}">change info about myself</a>
</html>